.timelineContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.editorContainer {
  flex: 1;
}
.parentWaypoint {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.renderWaypoint {
 
}

.timelineSearch {
  display: flex;
  flex: 0 0 70px;
  justify-content: center;
  align-items: center;
}

.componentStyleTimelineBox{
  padding: 5px;
}

.timelinebox {
  display: flex;
  height: 150px;
  border-radius: 5px;
  border: 0.5px solid #eee;
  padding: 5px;
  margin: 3px;
 }

.timelineNote {
  flex: 4.5;
}

.timelineTitle {
  flex: 1;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.timelineDate {
  flex: 0 0 30px;
}
.timelineContent {
	flex:1;
	min-width: 0px;
	width: 300px;
	text-overflow: ellipsis;
}

.timelineContent p {
	overflow-wrap: break-word;
}