ul#weekDays{
	padding: 0px 5px 0px 5px;
	margin-bottom: 0;
}

ul.week {
	padding: 0;
	margin-bottom: 0;
}

ul.weekTimeline {
	padding: 0;
	margin-bottom: 0;
}

#FlexCalendar {
	display:flex;
	flex-direction: column;
	height:100%;
	min-height:100%;
}

#FlexCalendarHeader {
	display:flex;
	flex-direction: column;
	height:10%;
	justify-content: center;
	align-items: stretch;
	font-size:25px;
}

#weekDays {
	display:flex;
	flex: 0 0 50px;
}
#DateControl {
	display:flex;
	flex:1;
	height:10%;
	background-color: #ffe6e9;
	justify-content: space-around;
	align-items: center;
	font-size:25px;
}

#FlexCalendarBody {
	display:flex;
	overflow:auto;
	flex-direction: column;
	flex:1;
	margin:0;
	padding:5px;
	padding-top:0px;
	background-color: white;
}

#CalendarButtons {
	display:flex;
	justify-content: flex-start;
}

.month {
	display:flex;
	flex-direction: column;
	height:100%;
}
.weekDays {
	display: flex;
	flex: 0 0 50px;
	justify-content: space-around;
}

.weekCalendarWeekDays {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.holiday.weekCalendarWeekDay {
	color: lightcoral;
	border-color: lightcoral;
}

.weekCalendarWeekDay {
	
}

.weekCalendarWeek {
	display: flex;
	position:relative;
	overflow-y:scroll;
	width:100%;
	height:100%;
}
.weekDay{
	display:flex;
	flex: 1;
	margin:8px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: LightCoral;
	color: white;
}
/*
.weekEnd{
	display:flex;
	flex: 1;
	margin:8px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: LightCoral;
	color:white;
}*/

.holiday.day{
	color: lightcoral;
	border-color: lightcoral;
}
.today.day {
	color: seagreen;
	border-color: seagreen;
}
.selected.day {
	color: goldenrod;
	border-color: goldenrod;
	background-color: #fcf6e9;
}
.week {
	display: flex;
	flex:1;
	justify-content: space-around;
}

.day {
	display:flex;
	padding:5px;
	margin:8px 8px 8px 8px;
	flex:1;
	background: white;
	border-top: 1px solid rgba(236,236,236,1);
	border-radius:5px;
	align-items: top;
	justify-content: flex-end;
}

.day:hover{
	background-color: #ebfaff;
}

.weeklyDay {
	display:flex;
	flex-direction: column;
	margin:0px 8px 8px 8px;
	flex:1;
	background: white;
}

.smallBricks {
	border-top: 1px solid rgba(236,236,236,1);
	flex: 1;
	width: 100%;
}

.smallBricks:nth-child(odd){
	background-color: white;
	border-top: 1px solid black;
}

.magnet {
	display:flex;
	flex:0.4;
	justify-content: center;
	align-items: center;
	margin:8px 0px 8px 0px;
	border-top: 1px solid lightcoral;
	border-radius:5px;
}

.colorBrick {
	 cursor: move;
}

/* transform MAGIC!
div.colorBrick:hover {
	transform: scale(2);
}
*/

