ul#weekDays{
	padding: 0px 5px 0px 5px;
	margin-bottom: 0;
}

ul.week {
	padding: 0;
	margin-bottom: 0;
}

ul.weekTimeline {
	padding: 0;
	margin-bottom: 0;
}

#FlexCalendar {
	display:flex;
	flex-direction: column;
	height:100%;
	min-height:100%;
}

#FlexCalendarHeader {
	display:flex;
	flex-direction: column;
	height:10%;
	justify-content: center;
	align-items: stretch;
	font-size:25px;
}

#weekDays {
	display:flex;
	flex: 0 0 50px;
}
#DateControl {
	display:flex;
	flex:1;
	height:10%;
	background-color: #ffe6e9;
	justify-content: space-around;
	align-items: center;
	font-size:25px;
}

#FlexCalendarBody {
	display:flex;
	overflow:scroll;
	flex-direction: column;
	flex:1;
	margin:0;
	padding:5px;
	padding-top:0px;
	background-color: white;
}

#CalendarButtons {
	display:flex;
	justify-content: flex-start;
}

.month {
	display:flex;
	flex-direction: column;
	height:100%;
}
.weekDays {
	display: flex;
	flex: 0 0 50px;
	justify-content: space-around;
}

.weekDay{
	display:flex;
	flex: 1;
	margin:8px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: LightCoral;
	color: white;
}
/*
.weekEnd{
	display:flex;
	flex: 1;
	margin:8px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color: LightCoral;
	color:white;
}*/

.holiday.day{
	color: lightcoral;
	border-color: lightcoral;
}
.today.day {
	color: seagreen;
	border-color: seagreen;
}
.selected.day {
	color: goldenrod;
	border-color: goldenrod;
	background-color: #fcf6e9;
}
.week {
	display: flex;
	flex:1;
	justify-content: space-around;
}


.weekTimeline {
	display: flex;
	position: relative;
	flex:0 0 1400px;
	background-color: transparent;
	background-size: 50px 50px;
	background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
}


.HEY {
	background-color: grey;
	border: 2px solid black;
}
.day {
	display:flex;
	padding:5px;
	margin:8px;
	flex:1;
	background: white;
	border-top: 1px solid rgba(236,236,236,1);
	border-radius:5px;
	align-items: top;
	justify-content: flex-end;
}

.day:hover{
	background-color: #ebfaff;
}

.magnet {
	display:flex;
	flex:0.4;
	justify-content: center;
	align-items: center;
	margin:8px 0px 8px 0px;
	border-top: 1px solid lightcoral;
	border-radius:5px;}