@import url('https://fonts.googleapis.com/css?family=Barrio|Righteous');

.headerMenu {
    display:flex;
    flex: 0 0 80px;
    height: 60%;
    font-size: 23px;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    border: 1px solid rgba(200,200,200,1);
}

.HeaderHoverMenu {
    display:flex;
    flex: 0 0 200px;
    flex-direction: column;
}

#addButton {
    display:flex;   
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 12.5px;
    border: 1px solid #337ab7;
    color: #337ab7;
    align-self:center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    line-height: 0;
}

#addButton:hover{
    cursor:pointer;
    background-color: #337ab7;
    color: white;
}


#home {
    color: #337ab7;
}   

#home:hover {
    background-color: #337ab7;
    color: white;   
    cursor: pointer;
}
