@import url('https://fonts.googleapis.com/css?family=Barrio|Righteous');

#header {
    display:flex;
    flex-direction: column;
    padding:5px;
}

.headerMenu {
    display:flex;
    flex: 0 0 80px;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    border: 1px solid rgba(200,200,200,1);
    box-shadow: 0 8px 0 rgba(170,170,170,1), 0 5px 10px rgba(0, 0, 0, .35);
    margin:5px;
}


#addButton {
    display:flex;   
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex: 1;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 25px;
    border: 1px solid #337ab7;
    color: #337ab7;
    align-self:center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}

#addButton:hover{
    cursor:pointer;
    background-color: #337ab7;
    color: white;
}


#home {
    color: #337ab7;
}   

#home:hover {
    background-color: #337ab7;
    color: white;   
    cursor: pointer;
}

.modalButtons {
    display: inline-block;
}
.backColor {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, white, rgba(210,210,210,0.6));
    margin: 0px;
    height: 3em;
    border-bottom: 1px solid rgba(200,200,200,1);
}

.alignRight {
    text-align: right;
    border-right: 1px solid rgba(200,200,200,1);
}

.alignRight2 {
    display: flex;
    justify-content: space-between;
}

.alignCenter {
    text-align: center;
}

.tableRight {
    float: right;
}

.svgmargin {
    margin-right: 10px;
    margin-bottom: -5px;
}

.svgmargin2 {
    margin-right: 10px;
    margin-bottom: -8px;
}

.svgmargin3 {
    margin-right: 10px;
}

.fullHeight {
    height: 100%;
}

.LogoFont {
    font-size: 30px;
    font-weight: bold;
    color: #64B5F6;
    font-family: 'Righteous', cursive;
    animation: logoColorChange 15s infinite;
    -moz-animation: logoColorChange 15s infinite; /* Firefox */
    -webkit-animation: logoColorChange 15s infinite; /* Safari and Chrome */
}

@-moz-keyframes logoColorChange /* Firefox */
    {
    0%   {color:#64B5F6;}
    50%  {color:#FF9800;}
    100%   {color:#64B5F6;}
    }

@-webkit-keyframes logoColorChange /* Safari and Chrome */
    {
    0%   {color:#64B5F6;}
    50%  {color:#FF9800;}
    100%   {color:#64B5F6;}
    }
