.Navigation {
  padding: 5px;
}

#nav-bar {
  display: flex; 
  align-items: stretch;
  flex: 0 0 50px;
}

#nav-bar a {
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: lightcoral;
  cursor: pointer;
  border-radius: 5px;
}
#nav-bar a.active {
  display:flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  border-radius: 5px;
}

#nav-bar a:hover{
  color:white;
  background-color: #337ab7;
}

#nav-bar #nav-whiteboard {
  flex:1.5;
}

.profileCard {
  display:flex;
  flex-direction: column;
}

.profileCard div {
  flex:1;
}

.addMember {
  display:flex;
  flex: 0 0 100px;
  border-radius:5px;
  justify-content: center;
  background-color: lightcoral;

}