#navigation div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgba(115,202,116,1);
    border-bottom: 1px solid rgba(236,236,236,1);
    height: 3em;
    font-size: 14px;
    transition-property: background;
    transition-duration: 1s;
    padding:0px;
}


#chat {
}

#chat:hover {
    background-color: rgba(117,192,253,1);
    color: white;
}

#calendar {

}

#calendar:hover {
    background-color: rgba(115,202,116,1);
    color: white;
}

#editor {
}

#editor:hover {
    background-color: rgba(153,165,166,1);
    color: white;
}

#whiteboard {
}

#whiteboard:hover {
    background-color: rgba(153,165,166,1);
    color: white;
}

#todolist {
}

#todolist:hover {
    background-color: rgba(153,165,166,1);
    color: white;
}
