.HolyGrail {
	display:flex;
	flex-direction:column;
	justify-content: center;
	min-height: 100vh;
}

.HolyGrailHeader {
	display:flex;
	flex:0 0 100px;
	align-items:center;
	justify-content: center;
	border-bottom: 1px solid rgba(236,236,236,1);

}
.HolyGrailBody {
	display:flex;
	padding:10px;
	flex-direction: column;
	flex:1;
	height:100%;
}

.HolyGrailFooter {
	display:flex;
	padding:10px;
	justify-content: flex-end;
	flex: 0 0 100px;
	border-top: 1px solid rgba(236,236,236,1);

}