#logIn {
  display:flex;
  height:100vh;
  justify-content: center;
  align-items:center;
}
#logIn Button {
  margin:20px;
}

.App {
  display:flex;
  flex-direction: column;
  height:100vh;
}

.Header {
  flex: 0 0 60px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.MainWrapper {
  display:flex;
  flex:1;
}

.Navigation {
  display:flex;
  flex-direction: column;
  flex: 0 0 200px;
  border-right: 1px solid rgba(236,236,236,1);

}

.MainContent {
  display:flex;
  justify-content: center;
  align-items:stretch;
  left:400px;
  flex:1;
}
