#logIn {
  display:flex;
  height:100vh;
  justify-content: center;
  align-items:center;
}
#logIn Button {
  margin:20px;
}

.App {
  display:flex;
  height:100vh;
}

.Header {
  flex: 0 0 100px;
  height:100vh;
  border-right: 1px solid rgba(236,236,236,1);
}

.Navigation {
  flex: 0 0 300px;
  height:100vh;
  border-right: 1px solid rgba(236,236,236,1);
}

.MainContent {
  justify-content: center;
  align-items:center;
  left:400px;
  flex:1;
  height:100vh;
}

/*.App {
  text-align: center;
}

form {
  text-align: left;
}

.form-group {
  text-align: left;
}

.btn.btn-sm {
  margin-bottom: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.changeNameBtn {
  margin-bottom: 30px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
