/*.App {
  text-align: center;
}

form {
  text-align: left;
}

.form-group {
  text-align: left;
}

.btn.btn-sm {
  margin-bottom: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.changeNameBtn {
  margin-bottom: 30px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
