.todo-contribute-container {
	margin-bottom: 10px;
}

.todo-contribute-title {
  display: flex;
  justify-content: space-between;
}

.show-history-text {
  font-size: 10px;
}

.todo-contribute-box {
  width: 100%;
  font-size: 10px;
  color: #757575;
  text-align: center;
}

.todo-contribute-box-header {
  border: 0px;
  border-bottom: 1px solid #E0E0E0;
  font-weight: bold;
}

.todo-contribute-box-header-blank {
  width: 20%;
	border: 0px;  
}

.todo-contribute-box-header-left {
  width: 30%  
}

.todo-contribute-box-header-center {
  width: 15%  
}

.todo-contribute-box-header-right {
  width: 15%  
}

.todo-contribute-box-body td{
  border: 0px !important;
  color: #9E9E9E !important;
}

.todo-contribute-box-footer-center {
  border: 0px;
  border-top: 1px solid #E0E0E0;
  font-weight: bold;    
}

.percentBox {
	width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .1);
	margin-bottom: 10px
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-40%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-40%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}


.todo-contribute-title-left {
	width: 20%;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #EEEEEE;
	color: #757575;
	text-align: right;
}


.todo-contribute-title-center {
	width: 60%;
}

.todo-contribute-title-right {
	width: 20%;
	text-align: center;
}