.textCenter {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0px;
}

.alignCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
}

.todoHeaderText {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.alignRight {
    text-align: right;
}

.todo-grid-head-text-ready {
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(246,145,149,0.4);
    color: rgba(246,145,149,1);
}

.todo-grid-head-text-progress {
    border-bottom: 1px solid rgba(249,187,148,0.4);
    text-align: center;
    color: rgba(249,187,148,1);
    padding: 5px 0px;
}

.todo-grid-head-text-done {
    border-bottom: 1px solid rgba(133,202,231,0.4);
    text-align: center;
    color: rgba(133,202,231,1);
    padding: 5px 0px;
}