@import url('https://fonts.googleapis.com/css?family=Barrio|Righteous');

.project-list {
    position:relative;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list div {

    display: flex;
    position: absolute;
    font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
    z-index: 1000;
    left:0;
    right:0;
    justify-content: center;
    align-items: center;
    background-color: #23D886;
    color: white;
    font-size:larger;
}


#addButton {
    display:flex;   
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 12.5px;
    border: 1px solid #337ab7;
    color: #337ab7;
    align-self:center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    line-height: 0;
}

#addButton:hover{
    cursor:pointer;
    background-color: #337ab7;
    color: white;
}


#home {
    color: #337ab7;
}   

#home:hover {
    background-color: #337ab7;
    color: white;   
    cursor: pointer;
}
