

ul.week {
	padding: 0;
	margin-bottom: 0;
}

.holiday.day{
	color: lightcoral;
	border-color: lightcoral;
}
.today.day {
	color: seagreen;
	border-color: seagreen;
}
.selected.day {
	color: goldenrod;
	border-color: goldenrod;
	background-color: #fcf6e9;
}
.week {
	display: flex;
	flex:1;
	justify-content: space-around;
}

.line {
	position: absolute;
	width: 100%;
	height: 1px;
	border-top:1px solid rgba(236,236,236,1);
	pointer-events: none; /* MAGIC!!!!!! */
}


.weeklyDay {
	display:flex;
	flex-direction: column;
	margin:0px 8px 0px 8px;
	flex:1;
	position:relative;
	background: white;
}

.smallBricks {
	border-top: 1px solid rgba(236,236,236,1);
	flex: 1;
	width: 100%;
	user-select: none;
}

.smallBricks:nth-child(odd){
	background-color: white;
	border-top: 1px solid black;
}

.magnet {
	display:flex;
	flex:0.4;
	justify-content: center;
	align-items: center;
	margin:8px 0px 8px 0px;
	border-top: 1px solid lightcoral;
	border-radius:5px;
}

.colorBrick {
	 cursor: move;
}

.plan {
	/*flex:1;*/
	/*align-self:stretch;*/
	/*height:200px;*/
	/*background-color:green;*/
	align-self:center;
	/*width:inherit;*/
	/*width:auto;*/
	width:100%;
	position: absolute;
	z-index:1;
	border:1px solid black;
}

.draggable {
	height:100%;
	z-index:3;
}

/*side*/

ul#weekDays{
	display:flex;
	padding: 0;
	margin-bottom: 0;
	opacity: 0.8;
}

.weekDay{
	display:flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}
ul.subWeek {
	padding: 0;
	margin-bottom: 0;
}
.subWeek {
	display: flex;
	flex:0 0 30px;
	justify-content: space-around;
}
.subDay {
	display:flex;
	flex:1;
	background: white;
	align-items: center;
	justify-content: center;
}

.subDay:hover{
	background-color: #ebfaff;
}

.holiday.subDay{
	color: lightcoral;
	border-color: lightcoral;
}
.today.subDay {
	color: seagreen;
	border-color: seagreen;
}
.selected.subDay {
	color: goldenrod;
	border-color: goldenrod;
	background-color: #fcf6e9;
}

