.addTodoHeader {
  background-color: #4DB6AC;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todo-add-box-wrap {
  padding: 5px 5px;
}

.alignTextarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
}

.testAuthorBox {
  width: 60%;
  padding-left: 3px;
  margin-bottom: 30px;
}

.testAuthorBox p {
  margin-bottom: 0px;
}

.testTitleStyle {
  font-size: 12px;
  color: #4DB6AC;
}

.testTitleStyle2 {
  font-size: 16px;
  border-bottom: 1px solid #E0E0E0;
}


.addTitleWidth {
  width: 60%;
}

.addPlayerContainer {
  display: flex;
  margin-bottom: 30px;
}

.addPlayerNameInput {
  font-size:16px;
  padding: 0px 10px 2px 3px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #E0E0E0;
}

.addPlayerNameInput:focus {
  outline: none;
}

.addPlayerNameLabel {
  color:#999; 
  font-size:12px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:3%;
  top:85px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.addPlayerNameLabel2 {
  color:#999; 
  font-size:12px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:3%;
  top:140px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.addPlayerNameLabel3 {
  color:#999; 
  font-size:12px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:37.5%;
  top:140px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.addPlayterRatioBox {
  margin-left: 25px;
  margin-right: 20px;
}

/* active state */
.addPlayerNameInput:focus ~ .addPlayerNameLabel, 
input:valid ~ .addPlayerNameLabel {
  top: 70px;
  font-size:10px;
  color:#4DB6AC;
}

.addPlayerNameInput:focus ~ .addPlayerNameLabel2, 
input:valid ~ .addPlayerNameLabel2, 
.addPlayerNameInput:focus ~ .addPlayerNameLabel3, 
input:valid ~ .addPlayerNameLabel3  {
  top: 125px;
  font-size:10px;
  color:#4DB6AC;
}

.addPlayerNameBar    { position:relative; display:block; width: 100%; }
.addPlayerNameBar:before, .addPlayerNameBar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#4DB6AC; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.addPlayerNameBar:before {
  left:50%;
}
.addPlayerNameBar:after {
  right:50%; 
}

/* active state */
.addPlayerNameInput:focus ~ .addPlayerNameBar:before, .addPlayerNameInput:focus ~ .addPlayerNameBar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.addPlayerNameHighlight {
  position:absolute;
  height:60%; 
  width:50%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.addPlayerNameInput:focus ~ .addPlayerNameHighlight {
  -webkit-animation:inputHighlighter cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -moz-animation:inputHighlighter cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  animation:inputHighlighter cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from  { background:#5264AE; }
  to    { width:0; background:transparent; }
}

.addPlayerContainer1 {
  display: flex;
  margin-bottom: 10px;
}

.addPlayerContainer2 {
  display: flex;
  margin-bottom: 30px;
  margin-left: 2px;
  align-items: center;
  font-size: 12px;
  color: #4DB6AC;
}

.addPlayerContainer2 .form-control {
  margin-left: 10px;
  text-align: center;
  width: 15%;
  height: 25px;
  font-size: 12px;
  color: black;
}

.addPlayerContainer3 {
  margin-left: 2px;
  font-size: 12px;
  color: #4DB6AC;
}


.addPlayerList {
  display: flex;
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
  align-items: center;
  margin-left: 2px;
  color: #4DB6AC;
  margin-bottom: 30px;
}

.addPlayerItem {
  padding: 5px 5px;
  font-size: 10px;
  color: white;
  background-color: #009688;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.textSeparator {
  color: #4DB6AC;
}


.todo-add-savebutton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #4DB6AC;
  color: #4DB6AC;
  margin-right: 10px;
}

.todo-add-savebutton:hover {
  background-color: #4DB6AC;
  border: 1px solid #4DB6AC;
  color: white;
}

.todo-add-closebutton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #E0E0E0;
  color: #E0E0E0;
}

.todo-add-closebutton:hover {
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  color: white;
}