.todo-log-button-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px;
}

.todo-log-button-table-width {
  width: 100%;
  text-align: center;
}

.todo-log-button-log-header-box {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #448aff;
  color: white;
}