#CalendarMain{

}
.WeekDays{
	display: flex;
	flex: 0 0 50px;
	justify-content: space-around;
}
.WeekCalendar{
	display: flex;
	position:relative;
	overflow-y:scroll;
	width:100%;
	height:100%;
}

.holiday.weekCalendarWeekDay {
	color: lightcoral;
	border-color: lightcoral;
}

.weekCalendarWeekDay {
	
}

.weekCalendarWeek {
	display: flex;
	position:relative;
	overflow-y:scroll;
	width:100%;
	height:100%;
}