.parentWaypoint {
  height: 800px;
  overflow-y: scroll;
  position: relative;
}





.renderWaypoint {
 height: 150000px;
}  

.timelinebox {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;;
  border-right: 2px solid #eee;;
 
}

.timelineTitle {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

