.fileListContainer {
  display: block;
  /*position: relative;*/
  overflow-y: hidden;
  margin: 0;
  -ms-flex: 1;
  flex: 1;
}

.filedashboard {
  margin: 0;
  padding: 10px;
  /*position: absolute;*/
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.filedashboarditem {
  display: block;
  float: left;
  width: 140px;
  height: 170px;
  margin: 15px 21px;
  border-radius: 6px;
}

.filedashboarditem {
  list-style: none;
  /*margin: 10px 0;*/
  position: relative;
  background-color: #fff;
  border: 1px solid hsla(0,0%,58%,.2);
  /*display: flex;*/
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
}

.iconImage {
  width: 100%;
  height: 100px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid hsla(0,0%,58%,.2);
  border-right: 0;
}

.iconImage {
  overflow: hidden;
  /*width: 60px;*/
  /*height: 60px;*/
  border-bottom: 0;
  position: relative;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  /*border-right: 1px solid hsla(0, 0%, 58%, .2);*/
  border-bottom: 1px solid hsla(0,0%,58%,.2);
}

.iconImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filedashboardinfo {
  max-width: 100%;
  height: 30px;
}

.filedashboardinfo {
  padding: 8px 32px 8px 10px;
  position: relative;
  /*max-width: 70%;*/
}

.filedashboardinfo-name {
  word-wrap: break-word;
  white-space: normal;
}

.filedashboardinfo-name {
  font-size: 11px;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
  padding: 0;
  max-height: 28px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.removeButtonContainer {
  top: -8px;
  right: -8px;
  position: absolute;
}

.removeButton {
  align-items: flex-start;
  text-align: center;
  width: 20px;
  color: #525252;
  background: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  cursor: pointer;
}

.removeIcon {
  max-width: 100%;
  display: inline-block;
  vertical-align: text-top;
  overflow: hidden;
}

.showInfo {
  top: 8px;
  right: 8px;
  background: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 12px;
  text-align: left;
  position: absolute;
  cursor: pointer;
}

.showInfoIcon {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: text-top;
  overflow: hidden;
  color: #525252;
}






