.tagText {
  font-size: 5px;
  padding: 2px 2px;
  margin-right: 2px;
  border: 1px solid #9E9E9E;
  border-radius: 2px;
  color: #9E9E9E;
}

.overflowX {
  overflow-x: scroll;
  height: 30px;
  padding-left: 10px;
}

.fileListContainer {
  display: block;
  /*position: relative;*/
  overflow-y: hidden;
  margin: 0;
  -ms-flex: 1;
  flex: 1;
}

.filedashboard {
  margin: 0;
  padding: 10px;
  /*position: absolute;*/
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.filedashboarditem {
  display: block;
  float: left;
  width: 140px;
  height: 170px;
  margin: 15px 21px;
  border-radius: 6px;
}

.filedashboarditem {
  list-style: none;
  position: relative;
  background-color: #fff;
  border: 1px solid hsla(0,0%,58%,.2);
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
}

.iconImage {
  width: 100%;
  height: 100px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid hsla(0,0%,58%,.2);
  border-right: 0;
}

.iconImage {
  overflow: hidden;
  border-bottom: 0;
  position: relative;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsla(0,0%,58%,.2);
  cursor: pointer;
}

.iconImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filedashboardinfo {
  max-width: 100%;
  height: 30px;
}

.filedashboardinfo {
  padding: 8px 32px 8px 10px;
  position: relative;
}

.filedashboardinfo-name {
  word-wrap: break-word;
  white-space: normal;
}

.filedashboardinfo-name {
  font-size: 11px;
  line-height: 1.35;
  font-weight: 500;
  margin: 0;
  padding: 0;
  max-height: 28px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.removeButtonContainer {
  top: -8px;
  right: -8px;
  position: absolute;
}

.fileInfoTableRemoveButtonContainer {
  top: 5px;
  right: 40px;
  position: absolute;
}

.removeButton {
  align-items: flex-start;
  text-align: center;
  width: 20px;
  color: #525252;
  background: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  cursor: pointer;
}

.removeIcon {
  max-width: 100%;
  display: inline-block;
  vertical-align: text-top;
  overflow: hidden;
}

.showInfo {
  top: 8px;
  right: 8px;
  background: none;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 12px;
  text-align: left;
  position: absolute;
  cursor: pointer;
}

.showInfoIcon {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: text-top;
  overflow: hidden;
  color: #525252;
}

.file-modal-footer-button {
  display: flex;
  float: right;
}

.file-modal-footer-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.file-modal-footer-input-box {
  display: flex;
  align-items: center;
  width: 50%;
}

.file-modal-header-text {
  margin-right: 10px;
  font-weight: 700;
}

.file-modal-footer-input {
  width: 100%;
  border: 1px solid #C5CAE9;
}

.file-modal-footer-button-close {
  margin-left: 20px;
}

#search-file {
  height: 34px;
  border-radius: 4px;
}

#search-file::-webkit-input-placeholder {
  color: #7986CB;
  font-size: 14px;
  padding-left: 10px;
}

#search-file:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7986CB;
    opacity: 1;
    font-size: 14px;
    padding-left: 10px;
}
#search-file::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7986CB;
    opacity: 1;
    font-size: 14px;
    padding-left: 10px;
}
#search-file:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #7986CB;
    font-size: 14px;
    padding-left: 10px;
}


.fileInfoTableBox {
  margin: 0px 32px !important;
  border: 1px solid hsla(0,0%,58%,.2) !important;
  border-radius: 5px !important; 
}

.fileInfoTableBoxMargin {
  margin: 0px !important;
}

.fileInfoTableTdTitle {
  width: 15% !important;
  text-align: center !important;
  font-size: 10px !important;
  border: 0px !important;
  background-color: #EEEEEE !important;
  color: #424242 !important;
}

.fileInfoTableTd {
  width: 35% !important;
  text-align: center !important;
  font-size: 10px !important;
  border: 0px !important;
  color: #2196F3 !important;
}

.fileInfoTableTd2 {
  text-align: center !important;
  font-size: 10px !important;
  border: 0px !important;
  color: #2196F3 !important;
}

.fileInfoTableTd3 {
  width: 10% !important;
  text-align: center !important;
  font-size: 10px !important;
  border: 0px !important;
  color: #E91E63 !important;
}

.scrollable {
  width: 100% !important;
  height: 14px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto !important;
}

.editTagContainer {
  display: flex;
  align-items: center;
}

.editTagWarningText {
  font-size: 10px;
  color: #C62828
}

.editTagAddTag {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
}

.editTagInputText {
  @include transition(all 1s ease-in-out);
  outline: none;
  margin: 10px 10px;
  border: 0px;
  border-bottom: 1px solid #757575;
}

.editTagInputText:focus {
  @include box-shadow(0 0 0 rgba(81, 203, 238, 1));
  border: 0;
  border-bottom: 1px solid #F44336;
}

.editTagInputText::-webkit-input-placeholder {
  color: #7986CB;
  font-size: 10px;
  padding-left: 5px;
}

.editTagInputText:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7986CB;
    opacity: 1;
    font-size: 10px;
    padding-left: 5px;
}
.editTagInputText::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7986CB;
    opacity: 1;
    font-size: 10px;
    padding-left: 5px;
}
.editTagInputText:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #7986CB;
    font-size: 10px;
    padding-left: 5px;
}

.editTagBox {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

.editTagItem {
    padding: 4px 4px;
    border: 1px solid rgba(0,150,136,1);
    background-color: rgba(0,150,136,0.2);
    color: #757575;
    border-radius: 2px;
    margin: 5px 5px;
    cursor: pointer;
}

.editTagPlusIconStyle {
  margin: 5px 5px;
}
