.file-upload-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #3F51B5;
  color: #3F51B5;
}

.file-upload-button:hover {
  background-color: #3F51B5;
  border: 1px solid #3F51B5;
  color: white;
}

.file-upload-container {
  text-align: center;
}