@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/*Todo-List-Style*/
.todoItemCard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.alignCenter {
  text-align: center;
}

.paddingZero {
  padding: 0;
}

.prevButton {
  width: 100%;
  border-radius: 0;
  border: 0;
  background-color: #2196F3;
  color: white;
}

.nextButton {
  width: 100%;
  border-radius: 0;
  border: 0;
  background-color: #0D47A1;
  color: white;
}

.todoItemCardContainer {
    padding: 0 10px;
}

.todoItemCardHeader {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
